* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    cursor: url(../../img/Union.png) 2 2,default;
    font-size: 10px;
}

:root {
    /* Стили шрифтов */
/* Стили h2 */
    --text-size-h2: 4.4rem;
    --line-height-h2: 5.72rem;
/* Стили h3 */
    --text-size-h3: 3.5rem;
    --line-height-h3: 4.55rem;
/* Стили h4 */
    --text-size-h4: 2rem;
    --line-height-h4: 2.3rem;
/* Стили h5 */
    --text-size-h5: 1.5rem;
    --line-height-h5: 1.65rem;
/* Стили paragraph-l */
    --text-size-pl: 1.5rem;
    --line-height-pl: 2.4rem;
/* Стили paragraph-s */
    --text-size-ps: 1.2rem;
    --line-height-ps: 1.8rem;

/* Стили header */
    --background-header: #FFFFFF;
    --background-hr: #F1CDB3;
    --color-text-header: #545454;

/* Стили our-friends */
    --background-our-friends: #F6F6F6;
    --color-button: #F1CDB3;
    --background-button:#FFFFFF;


    /* Стили footer */
    --background-footer:url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

/* Стили Header */
.container {
    width: 100vw;
    background: var(--background-header);
}

.header{
    max-width: 1280px;
    height: 120px;
    margin: 0 auto;
}

.header-container {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo {
    margin-top: 30px;
    margin-left: 40px;
}

.logo__title {
    color: var(--color-text-header);
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.logo__link {
    text-decoration: none;
}

.logo__link:hover {
    cursor: url(../../img/icon-button.png) 2 2, default;
    color: black;
    transition: 0.3s;
}

.logo__subtitle {
    color: var(--color-text-header);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
}

input, label {
    display: none;
}

.header-nav__items {
    list-style-type: none;
    display: flex;
    margin-top: 46px;
    margin-right: 40px;
    gap: 35px;
}

.header-nav__subitems {
    color:var(--color-text-header);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
}

.nav__strip {
    width: 58px;
    height: 3px;
    background-color: #F1CDB3;
    margin-top: 3px;
    border: none;
    }

.nav__link {
    text-decoration: none;
    color: var(--color-text-header);
}

.nav__link:hover {
    color: black;
    cursor: url(../../img/icon-button.png) 2 2, default;
    text-decoration: none;
    transition: 0.5s;
    
}

.nav__link:visited {
    color:black;
}


/* Блок Our Friiends */
.our-friends__box {
    width: 100vw;
    background-color: var(--background-our-friends);
}

.our-friends {
    max-width: 1280px;
    height: 1342px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 45px;
}

.our-friends__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-size-h3);
    line-height: var(--line-height-h3);
    letter-spacing: 0.06em;
    color: var(--color-text-header);
    text-align: center;
}


.pets__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 30px;
}

.pets__card {
    width: 270px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--background-our-friends);
    border-radius: 9px;
}

.pets__card:hover {
    transform: scale(1.03);
    box-shadow: -10px 10px rgba(41, 41, 41, 0.2);
    transition: 0.5s;
}

.pets__card_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: var(--color-text-header);
}

.pets__card_button{
    width: 187px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: var(--background-card-pets);
}

.pets__card_button:hover {
    cursor: url(../../img/icon-button.png) 2 2, default;
    box-shadow: -5px 5px 5px 5px rgba(41, 41, 41, 0.6);
    transition: 0.3s;
}
.pets__card_button:active {
background-color: var(--background-hr);
}

.our-friends__button-right {
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    background-color: #CDCDCD;
    transform: rotate(-180deg);
}

.our-friends__button-center {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-button);
    border-radius: 100px;
    background-color: var(--background-button);
}

.our-friends__button-left {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color-button);
    border-radius: 100px;
    background-color: var(--background-button);
}

.our-friends__button-right:hover {
    cursor: url(../../img/icon-button.png) 2 2, default;
}

.our-friends__button-center:hover{
    cursor: url(../../img/icon-button.png) 2 2, default;
    background-color: var(--background-hr);
    transition: 0.2s;
}

.our-friends__button-center:active {
    background-color: var(--background-button);
    transition: 0.2s;
}

.our-friends__button-left:hover{
    cursor: url(../../img/icon-button.png) 2 2, default;
    background-color: var(--background-hr);
    transition: 0.2s;
}

.our-friends__button-left:active {
    background-color: var(--background-button);
    transition: 0.2s;
}


/* Cтили Footer */

.footer-box {
    width: 100vw;
    background: var(--background-footer);
}

.footer {
    max-width: 1280px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 160px;
}

.footer__first-block {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 40px;
}

.footer__second-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
}

.footer__title-block {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-size-h3);
    line-height: var(--line-height-h3);
    letter-spacing: 0.06em;
    color: var(--background-header);
}

.footer__first-block > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}


.footer__second-block > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.footer-img {
    width: 300px;
    height: 310px;
    margin-top: 40px;
}

.email__text, .phone-number__text, .adress__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: var(--text-size-h4);
    line-height: var(--line-height-h4);
    letter-spacing: 0.06em;
    color: var(--background-hr);
}

.footer__first-block > a:hover {
    cursor: url(../../img/Vector.png) 2 2, default;
}

.footer__second-block > a:hover {
    cursor: url(../../img/Vector.png) 2 2, default;
}


@media only screen and (max-width:1279px) {

/* Блок header */
.header-container {
    height: 90px;
}

/* Блок our-friends */

.our-friends {
    width: 768px;
    height: 1733px;
}

.pets__container {
    flex-direction: row;
}


.timmy-pet, .sophia-pet {
    display: none;
}

/* Блок Footer */
.footer {
    width: 70%;
    height: 639px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 65px;
}

.footer__first-block {
    margin-top: 30px;
    gap: 40px;
}

.footer__second-block {
    margin-top: 30px;
    gap: 33px;
}

.footer-img {
    margin: 0px;
}
}

@media (max-width: 768px) {

    /* Блок Header */
.header-nav {
    display: none;
}

.header-container {
    max-width: 100%;
    height: 120px;
    align-items: flex-start;
}

.logo {
    margin-left: 20px;
    
}

.logo__subtitle {
    font-style: normal;
    line-height: 15px;
    letter-spacing: 0.1rem;
    margin-left: 0px;
}

/* Блок OurFriends */

.our-friends {
    max-width: 100%;
    height: 1649px;
}

.our-friends__title {
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.pets__container {
    flex-direction: column;
}

.charly-pet, .scarlett-pet, .freddie-pet {
    display: none;
}

/* Блок Footer */

.footer {
    margin: 0 auto;
    max-width: 100%;
    height: 809px;
    gap: 40px;
}

br {
    display: none;
}

.footer__second-block {
    margin-top: 0px;
    text-align: center;
}

.footer__title-block {
    text-align: center;
    font-size: var(--text-size-h4);
    line-height: 130%;
}

.email__text {
    text-align: center;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06rem;
}

.phone-number__text {
    text-align: center;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06rem;
}

.adress__text {
    text-align: center;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.04em;
}

.footer__second-block > a {
    justify-content: center;
}

.footer-img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

}
