* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 25px;
}

.box {
  display: grid;
  grid-template-columns: repeat(10, 3vw);
}

.title {
  color: brown;
  text-align: center;
}

.new-game {
  border-radius: 5px;
}

.number {
  font-size: 1em;
}

.toggle-theme {
  margin-left: 20px;
  border-radius: 5px;
}

.dark-theme {
  background-color:#333333;
}

.dark-theme .flags-number,
.dark-theme .timer,
.dark-theme .click-counter {
  color: white;
}

button {
  height: 3vw;
  font-size: 16px;
}


